### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

target/classes
target/generated-sources
target/maven-archiver
target/maven-status
target/original-server.jar